/* styles/global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base styles and CSS variables */
:root {
  /* Layout variables */

  /* Colors */
  --color-primary: #4461f2;
}

/* Base element styles */
body {
  margin: 0;
  min-width: 320px;
  /* min-height: 100vh; */
}

/* Layout containers */
#app {
  height: 100vh;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content-container {
  height: var(--content-height);
}

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: theme("colors.gray.300");
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: theme("colors.gray.400");
}
